<template>
    <div class="sw-my-custom-plugin-config">
        <div class="sw-card">
            <div class="sw-card__header">
                <h3>{{ 'custom-button.general.menuTitle' | trans }}</h3>
            </div>
            <div class="sw-card__content">
                <sw-container>
                    <sw-single-select
                        v-model="buttonColor"
                        label="{{ 'custom-button.general.buttonColor' | trans }}"
                        :options="buttonColorOptions"
                    ></sw-single-select>
                </sw-container>
            </div>
            <div class="sw-card__footer">
                <sw-button @click="saveConfig" variant="primary">
                    {{ 'global.save' | trans }}
                </sw-button>
            </div>
        </div>
    </div>
</template>

<script>
    const { Component } = Shopware;

    Component.register('custom-button-config', {
        data() {
            return {
                buttonColor: '',
                buttonColorOptions: [
                    { label: 'Red', value: 'red' },
                    { label: 'Green', value: 'green' },
                    { label: 'Blue', value: 'blue' }
                ]
            };
        },

        created() {
            this.loadConfig();
        },

        methods: {

            loadConfig() {
                this.$store.dispatch('CustomButton/config/loadConfig').then((response) => {
                    this.buttonColor = response.buttonColor;
                });
            },
            
            saveConfig() {
                this.$store.dispatch('CustomButton/config/saveConfig', { buttonColor: this.buttonColor }).then(() => {
                    this.$router.push({ name: 'custom.button.config' });
                    this.createNotificationSuccess({
                        message: this.$tc('global.default.successSaveMessage')
                    });
                });
            }
        }
    });
</script>
